{% extends 'base.html' %} 
{% block title %}Editar Serviço{% endblock %} 

{% block content %}
<div
 style="
 max-width: 500px;
 margin: 20px auto;
 background: #fff;
 padding: 20px;
 border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 "
>
 <h1>Editar Serviço</h1>   <form action="{{ url_for('home.edit_task', id=task.id) }}" method="POST">
 <label for="title">Título:</label>
 <input
 type="text"
 id="title"
 name="title"
 value="{{ task.title }}"
 required
 />

 <label for="description">Descrição:</label>
 <textarea id="description" name="description">
{{ task.description }}</textarea
  >

  <label for="date">Data:</label>
 <input
 type="date"
  id="date"
 name="date"
 value="{{ task.date.strftime('%Y-%m-%d') if task.date else '' }}"
 />

    <label for="status">Status do Serviço:</label>
    <select id="status" name="status">
        <option value="Agendado" {% if task.status == 'Agendado' %}selected{% endif %}>
            Agendado
        </option>
        <option value="Em Andamento" {% if task.status == 'Em Andamento' %}selected{% endif %}>
            Em Andamento
        </option>
        <option value="Concluído" {% if task.status == 'Concluído' %}selected{% endif %}>
            Concluído
        </option>
        <option value="Cancelado" {% if task.status == 'Cancelado' %}selected{% endif %}>
            Cancelado
        </option>
    </select>
     <button type="submit">Salvar Alterações</button>
 </form>
  <br>
 <a href="{{ url_for('home.homepage') }}">Cancelar</a> </div>

{% endblock %}